<template>
<div>
  <h4>hello admin</h4>
  <ProductList/>
</div>
</template>

<script>
import ProductList from '@/components/ProductList'
export default {
  components:{
    ProductList
  }
}
</script>

<style>

</style>