<template>
<div>
    <b-carousel id="slider"
    controls
    indicators
    >
    <div v-for="item in items" :key="item.id" >
        <b-carousel-slide 
        :caption=item.caption
        :text=item.text
        :img-src=item.image
        >    
        </b-carousel-slide>
    </div>
    </b-carousel>
    <hr>
</div>
</template>

<script>
export default {
    data(){
        return{
            items:[
                {caption:"Chicken Hot",image:"https://wallpaperaccess.com/full/2837451.jpg",text:"ไก่กรอบเกร็ดขนมปัง"},
                {caption:"Chicken Hot",image:"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgnE0qOVmc2ey9VLq9GjAN1rYuAOSvpugO9w&usqp=CAU",text:"ไก่กรอบสมุนไพรใบมะกรูด"},
                {caption:"Chicken Hot",image:"https://images3.alphacoders.com/950/95005.jpg",text:"เจ้าของร้าน(มั้ง)"},
            ]
        }
    }
}
</script>

<style>

.carousel-caption h3{
    font-size:2em;
    color: red;
    -webkit-text-stroke: 1.2px orange;
}
.carousel-caption p{
    font-size: 1.5em;
    font-weight: 600;
    -webkit-text-stroke: 1px black;
}
.carousel-item img{
    margin-top: 3rem;
    height:480px;
    object-fit: cover;    
}

</style>