<template>
  <div
    class="offcanvas offcanvas-end"
    tabindex="-1"
    data-off-canvas data-content-scroll="false"
    id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel"
  >
    <div class="offcanvas-header">
      <h5 id="offcanvasRightLabel">Cart</h5>
      <button
        type="button"
        class="btn-close text-reset"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <hr />
    <div v-for="item in cart" :key="item.product.id">
      <div class="offcanvas-body">
        <div class="d-flex justify-content-between">
          <div v-for="item in cart" :key="item.product.id"></div>
          <strong>{{item.product.title}}</strong
          ><button class="btn"><i class="fa fa-trash"></i> Remove</button>
        </div>
        <div>
          <img :src="item.product.image"
            class="card-img-left"
            width="200px"
            height="150px"
          />

          <button class="btn"><i class="fa fa-plus"></i></button> {{item.amount}}
          <button class="btn"><i class="fa fa-minus"></i></button>
          <hr />
          <span>{{item.amount}} x {{item.product.price}}</span>
          <hr />
        </div>
      </div>
    </div>
    <hr />
    <div class="d-flex justify-content-between">
      <span>Total: {{cartTotalPrice}} บาท</span>
      <button class="btn"><i class="fa fa-trash"></i> Clear</button>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    cart() {
      return this.$store.state.cart;
    },
    cartTotalPrice(){
      return this.$store.getters.cartTotalPrice;
    }
  },
};
</script>

<style>
.offcanvas {
    overflow-y: auto
}
</style>