<template>
  <div>
    <nav class="navbar fixed-top">
      <b-container fluid>
        <div class="logo">
          <nuxt-link to="/"><h1>K-GALLERY</h1></nuxt-link>
        </div>
        <div class="menu">
          <li>
            <nuxt-link to="/">Home</nuxt-link>
            <nuxt-link to="admin">Admin</nuxt-link>
            <nuxt-link to="about">About</nuxt-link>

            <h3
              class="btn btn-secondary"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasRight"
              aria-controls="offcanvasRight"
            >
              {{cartItemAmount}} Cart
            </h3>
            <mini-cart/>
          </li>
        </div>
      </b-container>
    </nav>
  </div>
</template>

<script>
import MiniCart from "@/components/MiniCart";
export default {
  data() {
    return {};
  },
  components: {
    MiniCart,
  },
  computed: {
    cartItemAmount(){
      return this.$store.getters.cartItemAmount
    }
  }
};
</script>

<style>
.navbar {
  background-color: #292929;
  height: 4rem;
}
.logo a {
  text-decoration: none;
  color: crimson;
}
.logo a:hover {
  color: #fff;
}
.menu a {
  text-decoration: none;
  color: crimson;
  margin-left: 20px;
}
.menu a:hover {
  color: #fff;
}
.menu .btn-secondary {
  font-weight: 500;
  margin-left: 20px;
  color: #fff;
  background-color: crimson;
}
.menu .btn-secondary:hover {
  color: crimson;
  background-color: #fff;
}
</style>