<template>
  <div>
    <input type="text" v-model="searching" placeholder=" search">
    <div class="d-flex align-item-stretch flex-warp">
      <product-card
        v-for="product in products"
        :key="product.id"
        :product="product"
      />
    </div>
  </div>
</template>

<script>
import MiniCart from "@/components/MiniCart";
import ProductCard from "@/components/ProductCard";
export default {
  components: {
    MiniCart,
    ProductCard,
  },
  data() {
    return {
      searching: "",
      miniCart: [],
    };
  },
  computed: {
    products() {
      return this.$store.state.products;
    },
    // filteredproducts() {
    //   return this.products.filter((product) =>
    //     product.title.toLowerCase().includes(this.searching.toLowerCase())
    //   );
    // },
  },
  methods: {
    addToCart() {
      this.$store.dispatch("addProductToCart", {
        product: this.product,
        amount: 1,
      });
    },
  },
  mounted() {
    this.$store.dispatch("getProducts");
  },
};
</script>

<style>
.text-center {
  background-color: #292929;
  border-radius: 5px;
  padding: 10px;
  color: crimson;
}
.text-center input {
  width: 70%;
  height: 2rem;
  border-radius: 5px;
  border: 2px solid #292929;
}
</style>