<template>
  <div class="row mt-5">
    <div class="col-4">
      <img src="" class="w-100" />
    </div>
    <div class="col-8">
      <h1>{{ products.title }}</h1>
      <h3>{{ products.price }} บาท</h3>

      <input type="text" class="text-center col-1 mr-2 p-1" />
      <button class="btn btn-primary">Add to Cart</button>

      <p>ไก่ร้านนี้กรอบ</p>
    </div>
  </div>
</template>

<script>
export default {
  props: ["id"],

  computed: {
    products() {
      return this.$store.state.products;
    },
  },

  mounted() {
    this.$store.dispatch("getProducts");
  },
};
</script>

<style>
</style>