<template>
<div>
  <Navbar/>
  <b-container fluid>
    <br><Header/>
    <ProductList/>
  </b-container>
</div>
</template>

<script>
import Header from '@/components/Header'
import Navbar from '@/components/Navbar'
import ProductList from '@/components/ProductList'

export default {
  components:{
    Header,
    Navbar,
    ProductList,

  }
}
</script>

<style>

</style>